

body {
  margin: 5em 1rem;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color:rgb(48, 48, 48);

}


#card {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;

}

model-viewer {
  width: 100%;
  height: 400px;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

/* .gs_fukuoka {
  margin: 0 0 0.25em;
  width: 16rem;
} */

/* .gs a{
  text-decoration: none;
  color: #252525;
  font-size: 1.5rem;
} */

.sample{
  font-size: 1.5rem;
  margin: 0.5rem;
}

.attribution .cc {
  text-decoration: none;
}

.logo img{
  width: 4rem;
  margin: 0.5rem;
}


/* contact */
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  margin: 0.5rem;
}


.btn-gradation {
  display: inline-block;
  text-align: left;
  background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #a5a5a5;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  padding: 9px 10px;
  border-radius: 4px;
  font-size: 10px;
}

.btn-gradation:hover {
  opacity: 0.8;
}


